$blue-light: #f4faff;
$blue: #45a6ff;
$green: #2ae252;
$green-light: #dfffe6;
$red: #ff3d3d;
$red-light: #ffe0e0;
$purple: #c345ff;
$purple-light: #f2e3fa;
$yellow: #ffbc00;
$yellow-light: #fff8df;
$orange: #ff8845;
$orange-light: #fff3ec;
$lime: #a2ff45;
$lime-light: #f1ffe3;
$pink: #ff45b5;
$pink-light: #ffe2f4;

$cell-color-blue: #144b92;
$cell-color-blue-dark: darken($cell-color-blue, 10);
$cell-color-bomb: #fc274d;
$cell-color-flag: #12afe1;

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  &-direction-column {
    flex-direction: column;
  }
}

.column {
  flex: 0 1 auto;
}

.mine-grid {
  margin: auto;
  display: table;
  padding: 36px;
  background: $cell-color-blue;
  border-radius: 16px;
}

.mine-cell {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $cell-color-blue;
  font-size: 16px;
  font-weight: bold;

  &-dark {
    background: rgba(#000, 0.2);
  }

  &-visible {
    background: #fff;
  }

  &-bomb {
    background: $cell-color-bomb;
    fill: white;
  }

  &-flag {
    background: $cell-color-flag;
    fill: white;
  }

  &-0 {
    background: rgba(#fff, 0.5);
    color: transparent;
  }

  &-1 {
    background: $blue-light;
    color: $blue;
  }

  &-2 {
    background: $green-light;
    color: $green;
  }

  &-3 {
    background: $red-light;
    color: $red;
  }

  &-4 {
    background: $purple-light;
    color: $purple;
  }

  &-5 {
    background: $yellow-light;
    color: $yellow;
  }

  &-6 {
    background: $orange-light;
    color: $orange;
  }

  &-7 {
    background: $lime-light;
    color: $lime;
  }

  &-8 {
    background: $pink-light;
    color: $pink;
  }
}
